<?xml version="1.0" encoding="UTF-8"?>
<web-app
        xmlns="https://jakarta.ee/xml/ns/jakartaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
        metadata-complete="false"
        version="6.0">

    <filter>
        <filter-name>Squiggly</filter-name>
        <filter-class>co.ipregistry.squiggly.web.SquigglyRequestFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Squiggly</filter-name>
        <url-pattern>/issues/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>Issue</servlet-name>
        <servlet-class>co.ipregistry.squiggly.examples.servlet.web.IssueServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Issue</servlet-name>
        <url-pattern>/issues/*</url-pattern>
    </servlet-mapping>

</web-app>
